body {
    background-color: black;
    border: 2px, solid, lightblue;
    height: 99vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    color: aliceblue;
    margin: 5%;
    border: 2px, solid, lightblue;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.header {
    border: 1px, solid, red;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 10px;
}

.card {
    border: 1px, solid, red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}